html {
    height: 100%;
}

body {
    padding-top: 3em;
    padding-left: 4em;
    text-align: left;
    font-family: "Open Sans Condensed", sans-serif;
    color: whitesmoke;
    background: linear-gradient(316deg, #28007b, #3e4394, #5458ff,#24b7ac, #14424d);
    background-size: 800% 800%;
    position: relative;
    -webkit-animation: gradient 18s ease infinite;
    -moz-animation: gradient 18s ease infinite;
    animation: gradient 18s ease infinite;
}

h2 {
    font-size: 18px;
}

h1, h2 {
    text-shadow: rgba(0, 0, 0, .4) 0 3px 4px;
    font-weight: 200;
}

img {
    width: 96px;
    height: 96px;
    padding: 10px;
    transition: 0.3s;
}
img:hover {
    width: 112px;
    height: 112px;
}

.email {
    padding-bottom: 0px;
}

.parent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

@-webkit-keyframes gradient {
    0%{background-position:30% 0%;}
    50%{background-position:71% 100%;}
    100%{background-position:30% 0%;}
}

@-moz-keyframes gradient {
    0%{background-position:30% 0%;}
    50%{background-position:71% 100%;}
    100%{background-position:30% 0%;}
}

@keyframes gradient {
    0%{background-position:30% 0%;}
    50%{background-position:71% 100%;}
    100%{background-position:30% 0%;}
}
